@page
@model AcademicoSFA.Pages.Matricula.EditModel

@{
    ViewData["Title"] = "Editar Matricula";
}
<div class="row">
    <div class="col-md-12">
        <h4>
            <img alt="Imagen" src="../imagenes/logoSFA.png" width="35" height="35" />
            Actualizar matricula
        </h4>
    </div>
</div>
<hr />
<hr />
<div class="alert alert-info mt-3" role="alert">
    <i class="fa-solid fa-info-circle"></i> &nbsp;Formulario para actualizar la matricula de un estudiante.
</div>


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MatriculaModels.IdMatricula" />
    <div class="row">
        <div class="col-4 form-floating">
            <input asp-for="MatriculaModels.Codigo" class="form-control" placeholder="TAM" readonly />
            <span asp-validation-for="MatriculaModels.Codigo" class="text-danger"></span>
            <label>TAM</label>
        </div>
        <div class="col-3 form-floating">
            <select asp-for="IdGrupoAcadSeleccionado" class="form-control">
                <option value="">Seleccione una opción</option>
                @foreach (var grupo in Model.GradosGrupos)
                {
                    <option value="@grupo.IdGrupoAcad">@grupo.GradoGrupo</option>
                }
            </select>
            <label asp-for="IdGrupoAcadSeleccionado">Grupo</label>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp;Actualizar
                </button>
                <a asp-page="./Index" class="btn btn-secondary">
                    <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
