@page
@model AcademicoSFA.Pages.Alumno.DeleteModel

@{
    ViewData["Title"] = "Cambiar de estado a un alumno";
}
<div class="row">
    <div class="col-md-12">
        <h4>
            <img alt="Imagen" src="../imagenes/logoSFA.png" width="35" height="35" />
            @if (Model.Alumno.Estado == "Activo")
            {
                <label>Desactivar estudiante</label>
            }
            else
            {
                <label>Activar estudiante</label>
            }
        </h4>
    </div>
</div>
<hr />
<div class="alert alert-info mt-3" role="alert">
    @if (Model.Alumno.Estado == "Activo")
    {
        <i class="fa-solid fa-info-circle"></i>
        <label>Formulario para cambiar de estado a "Inactivo".</label>
    }
    else
    {
        <i class="fa-solid fa-info-circle"></i>
        <label>Formulario para cambiar de estado a "Activo".</label>
    }

</div>
<div class="card shadow-lg">
    @if (Model.Alumno.Estado == "Activo")
    {
        <div class="card-header bg-danger text-white text-center">

            <h4 class="mb-0">
                <i class="fa-solid fa-exclamation-triangle"></i> Confirmación de Eliminación
            </h4>
        </div>
    }
    else
    {
        <div class="card-header bg-success text-white text-center">
            <h4 class="mb-0">
                <i class="fa-solid fa-check-circle"></i> Confirmación de Activación
            </h4>
        </div>
    }
    <div class="card-body text-center">
        <h5 class="text-secondary mb-3">TAM:</h5>
        <h3 class="fw-bold">@Html.DisplayFor(model => model.Alumno.Codigo)</h3>
        <h5 class="text-secondary mb-3">Nombre:</h5>
        <h3 class="fw-bold">@($"{Model.Alumno.Participante.Nombre} {Model.Alumno.Participante.Apellido}")</h3>
        <h5 class="text-secondary mb-3">Estado:</h5>
        <h3 class="fw-bold">@Html.DisplayFor(model => model.Alumno.Estado)</h3>
        @if (Model.Alumno.Estado == "Activo")
        {
            <div class="alert alert-warning mt-4" role="alert">
                <i class="fa-solid fa-info-circle"></i>
                <strong>Advertencia:</strong> Al cambiar el estado del alumno a inactivo, este dejará de aparecer en las listas activas y será como si estuviera eliminado. Sin embargo, su información permanecerá registrada en el sistema.
            </div>
        }
    </div>
</div>

<div class="card-footer">
    <form method="post">
        @if (Model.Alumno.Estado == "Activo")
        {
            <input type="hidden" asp-for="Alumno.Codigo" />
            <button type="submit" class="btn btn-danger me-3">
                <i class="fa-solid fa-trash"></i>&nbsp;Desactivar
            </button>
        }
        else
        {
            <input type="hidden" asp-for="Alumno.Codigo" />
            <button type="submit" class="btn btn-success me-3">
                <i class="fa-solid fa-check-circle"></i>&nbsp;Activar
            </button>
        }
        |
        <a asp-page="./Index" class="btn btn-secondary">
            <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
        </a>
    </form>
</div>

