@page
@model AcademicoSFA.Pages.GrupoMateria.DeleteModel

@{
    ViewData["Title"] = "¿Desea eliminar esta relación? ";
}
<div class="row">
    <div class="col-md-12">
        <h4>
            <img alt="Imagen" src="../imagenes/logoSFA.png" width="35" height="35" />
            Eliminar asignación de materias por grupo académico
        </h4>
    </div>
</div>
<hr />
<div class="card-body">
    <div class="alert alert-info mt-3" role="alert">
        <i class="fa-solid fa-info-circle"></i> &nbsp;Formulario para eliminar asignación de una materia a un grupo académico.
    </div>
    <h3>@ViewData["Title"]</h3>
    <div>
        <h4>Grupo Académico y Materia</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Grupo Académico
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrupoAcadMateria.GrupoAcad.Grado.NomGrado) - @Html.DisplayFor(model => model.GrupoAcadMateria.GrupoAcad.NomGrupo)
            </dd>
            <dt class="col-sm-2">
                Materia
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrupoAcadMateria.Materia.NomMateria)
            </dd>
        </dl>

    </div>
</div>
<div class="card-footer">
    <form method="post">
        <input type="hidden" asp-for="GrupoAcadMateria.Id" />
        <Button type="submit" class="btn btn-danger me-3">
            <i class="fa-solid fa-trash"></i>&nbsp;Eliminar
        </Button> |
        <a asp-page="./Index" class="btn btn-secondary">
            <i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Regresar
        </a>
    </form>
</div>
